*{
    color:white;
    font-family: 'JetBrains Mono', monospace;
}
.main{
    background-color: #222;
    padding: 3% 22% 0 22%;
}

.about{
    margin-top: 40px;
}

#me{
    border: white solid 2px;
}

#me:hover{
    opacity: 0.5;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  .redes {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .redes:hover {
    -ms-transform: scale(3.5); /* IE 9 */
    -webkit-transform: scale(3.5); /* Safari 3-8 */
    transform: scale(3.5);
  }

  .projects{
    border: white solid 2px;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .icon{
      width: 50px;
  }

  .title{
      font-size: 18px;
  }

  .app{
      border-radius: 3px;
  }

  .paraph{
    text-align: justify;
    text-justify: inter-word;
  }

  .certificates {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .certificates:hover {
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Safari 3-8 */
    transform: scale(3);
  }

  .agumon{
    max-width: 30px;
    -webkit-animation:myfirst 5s infinite; /* Chrome, Safari, Opera */
    animation:myfirst 5s;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .cosa img:hover{
    width: 500px;
}


  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst{
    0%   { left:0px; top:0px;-webkit-transform:rotate(0deg)}
    50%  {left:100%; margin-left:-100px;-webkit-transform:rotate(360deg)}
    100% {left:0px; top:0px;-webkit-transform:rotate(0deg)}
  }

  /* Standard syntax */
  @keyframes myfirst{
    0%   { left:0px; top:0px;transform:rotate(0deg)}
    50%  {left:100%; margin-left:-100px;transform:rotate(360deg)}
    100% {left:0px; top:0px;transform:rotate(0deg)}
  }

  .left {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.right {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#bee {transition: transform .1s}